# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules
/api/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
api/export/assets/shrekTpose.png
api/export/assets/file_example_MP4_480_1_5MG.mp4
api/export/assets/0fc.jpg
api/export/assets/7ac49d1fcd3bcf31f77547e3ac088be6.png
api/export/assets/7b1.jpeg
api/export/assets/110-1108032_download-zip-archive-melee-luigi-t-pose.png
api/export/assets/203-2031906_download-zip-archive-carl-wheezer-t-pose.png
api/export/assets/452-4521436_shrek-png-image-shrek-t-pose-transparent.png
api/export/assets/1200px-Logo_Porsche.svg.png
api/export/assets/30249-0w345h345_Oranges_Fraiches_Variete_Navel_Lane_Late_Portugal.jpg
