.title{
    margin-bottom: 30px;
}

.field .text{
    height: 15%;
}

.card{
    width: 100%;
}

.content .input_field{
    display: flex;
    flex-wrap: wrap;
}

.content .field {
    margin: 15px;
}

.ui.card:last-child {
    margin-bottom: 20px;
}

.content .input_field .field{
    width: 45%;
    margin: auto;
}

