<form class="ui form">
    <div class="title"><h1>CERTIFICATIONS</h1></div>
    <div class="field">
        <label>INTRODUCTION A LA PARTIE CERTIFICATION</label>
        <textarea [(ngModel)]="certifications.introduction" name="description"
            placeholder="Décrivez vos certifications et comment vous les avez obtenues (court paragraphe)" class="text"></textarea>
    </div>
    <div class="side">
        <div *ngFor="let c of certifications.certificationsArray">
            <div class="ui card">
                <div class="content">
                    <div class="input_field">
                        <div class="field">
                            <label>TITRE DE LA CERTIFICATION</label>
                            <input [(ngModel)]="c.label" type="text" [ngModelOptions]="{standalone: true}"
                                placeholder="Titre de la formation">
                        </div>
                        <div class="field">
                            <label>DATE DE DEBUT</label>
                            <div class="ui left icon input">
                                <i class="calendar icon"></i>
                                <input suiDatepicker [ngModelOptions]="{standalone: true}" [(ngModel)]=" c.period.startDate"
                                    [pickerMode]="mode" [pickerFirstDayOfWeek]="firstDayOfWeek"
                                    [pickerUseNativeOnMobile]="false">
                            </div>
                        </div>
                        <div class="field">
                            <label>NOM DE L'ENTREPRISE</label>
                            <input [(ngModel)]="c.company" type="text" [ngModelOptions]="{standalone: true}"
                                placeholder="Nom de l'école">
                        </div>
                        <div class="field">
                            <label>DATE DE FIN</label>
                            <div class="ui left icon input">
                                <i class="calendar icon"></i>
                                <input suiDatepicker [ngModelOptions]="{standalone: true}" [(ngModel)]=" c.period.endDate"
                                    [pickerMode]="mode" [pickerFirstDayOfWeek]="firstDayOfWeek"
                                    [pickerUseNativeOnMobile]="false">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>DESCRIPTION DE LA CERTIFICATION</label>
                        <textarea [(ngModel)]="c.description" name="description_exp" [ngModelOptions]="{standalone: true}"
                            placeholder="Description de l'expérience" class="text"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button *ngIf="certifications.certificationsArray.length > 1" (click)="removeCertification()" class="ui icon button">
        <i class="minus icon"></i>
    </button>
    <button (click)="addCertification()" class="ui icon button">
        <i class="plus icon"></i>
    </button>
</form>