<div
[class.roboto]="font=='Roboto'"
[class.abril-sc]="font=='Abril_SC'"
[class.amatic-sc]="font=='Amatic_SC'"
[class.courrier-prime]="font=='Courrier_Prime'"
[class.gelasio]="font=='Gelasio'"
[class.pacifico]="font=='Pacifico'"
[class.space-mono]="font=='Space_Mono'"
>
  <div class="top-container no-export">
    <div class="top-content ui grid container">
      <div class="pickers">
        <input
          class="colorpicker"
          [(colorPicker)]="colorBackground"
          [style.background]="colorBackground"
          (colorPickerChange)="setColorBackgroundObservable()"
        />
        <label class="ui label pickerLabel">Fond</label>
        <input
          class="colorpicker margin"
          [(colorPicker)]="colorTitle"
          [style.background]="colorTitle"
          (colorPickerChange)="setColorTitleObservable()"
        />
        <label class="ui label pickerLabel">Texte</label>
        <input
        class="colorpicker margin"
        [(colorPicker)]="colorDiv"
        [style.background]="colorDiv"
        (colorPickerChange)="setColorDivObservable()"
      />
      <label class="ui label pickerLabel">Rubriques</label>
      </div>
      <sui-select (selectedOptionChange)="setFontObservable()" class="enforce-font" placeholder="Choose" [(ngModel)]="font">
        <sui-select-option class="roboto" value="Roboto">Roboto</sui-select-option>
        <sui-select-option class="abril-sc" value="Abril_SC">Abril SC</sui-select-option>
        <sui-select-option class="amatic-sc" value="Amatic_SC">Amatic SC</sui-select-option>
        <sui-select-option class="courrier-prime" value="Courrier_Prime">Courrier Prime</sui-select-option>
        <sui-select-option class="gelasio" value="Gelasio">Gelasio</sui-select-option>
        <sui-select-option class="pacifico" value="Pacifico">Pacifico</sui-select-option>
        <sui-select-option class="space-mono" value="Space_Mono">Space Mono</sui-select-option>
      </sui-select>
    <div class="top-buttons">
      <button class="btn-light" onclick="printPage()">
        Exporter en PDF
      </button>
      <button class="btn-full" (click)="export()">
        Exporter en format web
      </button>
    </div>
  </div>
</div>
<div class="body" [style.background]="colorBackground">
  <div class="body-content ui stackable grid container">
    <div class="sixteen wide column" [class.no-export]="((profile$ | async) | json) === '{}'">
      <div id="cv-header" [style.background]="colorDiv" class="rubrique">
        <div class="bg-circle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><title>black-circle</title><g id="Calque_2" data-name="Calque 2"><g id="Desktop"><circle cx="50" cy="50" r="50"/></g></g></svg>
        </div>
        <a href="#cv-profile">
          <h1 [style.color]="colorTitle">
            {{ (profile$ | async)?.firstName }}
            {{ (profile$ | async)?.lastName }}
          </h1>
        </a>
        <nav class="scrollMenu">
          <a [class.no-export]="((profile$ | async) | json) === '{}'" href="#cv-presentation">Présentation</a>
          <a [class.no-export]="(skills$ | async)?.skillsArray === null || (skills$ | async)?.skillsArray.length === 0" href="#cv-skills">Compétences</a>
          <a [class.no-export]="(experiences$ | async)?.experiencesArray === null || (experiences$ | async)?.experiencesArray.length === 0" href="#cv-experiences">Expérience</a>
          <a [class.no-export]="(trainings$ | async)?.trainingsArray === null || (trainings$ | async)?.trainingsArray.length === 0" href="#cv-training">Formations</a>
          <a [class.no-export]="(creations$ | async)?.imageList === null || (creations$ | async)?.imageList.length === 0" href="#cv-creation">Réalisations</a>
          <a [class.no-export]="(references$ | async)?.comments === null || (references$ | async)?.comments.length === 0" href="#cv-reference">Références</a>
        </nav>
      </div>
    </div>
    <div class="sixteen wide column" [class.no-export]="((profile$ | async) | json) === '{}'">
      <div id="cv-profile" [style.background]="colorHeader" [style.color]="headerFontColor" class="rubrique">
        <div [routerLink]="['/editor/0']" routerLinkActive="router-link-active" class="edit-icon no-export"><i class="pencil alternate icon"></i></div>
        <div class="bg-circle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><title>black-circle</title><g id="Calque_2" data-name="Calque 2"><g id="Desktop"><circle cx="50" cy="50" r="50"/></g></g></svg>
        </div>
        <div>
          <p><span class="profile-name">{{ (profile$ | async)?.firstName }} {{ (profile$ | async)?.lastName }}</span ><br>
            {{ (profile$ | async)?.city }}<br>
            {{ (contacts$ | async)?.phone }}<br>
              <a href="mailto:{{(contacts$ | async)?.mail}}">{{ (contacts$ | async)?.mail }}</a>
          </p>
          <h2 class="profile-job">{{ (profile$ | async)?.job }}</h2>
          <span class="article-subtitle" *ngIf="(profile$ | async)?.experience !== undefined">Depuis {{ (profile$ | async)?.experience }} {{ ((profile$ | async)?.experience == 1) ? 'an' : 'ans' }} </span>
          <div class="profile-link">
              <a target="_blank" *ngIf="(contacts$ | async)?.facebook !== undefined" href="{{ (contacts$ | async)?.facebook }}"><i class="facebook icon"></i></a>
              <a target="_blank" *ngIf="(contacts$ | async)?.youtube !== undefined" href="{{ (contacts$ | async)?.youtube }}"><i class="youtube icon"></i></a>
              <a target="_blank" *ngIf="(contacts$ | async)?.linkedin !== undefined" href="{{ (contacts$ | async)?.linkedin }}"><i class="linkedin icon"></i></a>
              <a target="_blank" *ngIf="(contacts$ | async)?.instagram !== undefined" href="{{ (contacts$ | async)?.instagram }}"><i class="instagram icon"></i></a>
              <a target="_blank" *ngIf="(contacts$ | async)?.twitter !== undefined" href="{{ (contacts$ | async)?.twitter }}"><i class="twitter icon"></i></a>
              <a target="_blank" *ngIf="(contacts$ | async)?.website !== undefined" href="{{ (contacts$ | async)?.website }}"><i class="globe icon"></i></a>
          </div>
        </div>
        <div>
          <div class="profile-img">
            <img *ngIf="(profile$ | async)?.imageUrl !== null && (profile$ | async)?.imageUrl !== undefined"
              [src]="(profile$ | async)?.imageUrl"
              alt=""
            />
            <img
            *ngIf="(profile$ | async)?.imageUrl === null || (profile$ | async)?.imageUrl === undefined"
            src="./assets/img/placeholder.jpg"
            alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="six wide column" [class.no-export]="((presentation$ | async) | json) === '{}'">
      <div id="cv-presentation" [style.background]="colorDiv" class="rubrique">
        <div [routerLink]="['/editor/1']" routerLinkActive="router-link-active" class="edit-icon  no-export"><i class="pencil alternate icon"></i></div>
        <h2 [style.color]="colorTitle">Presentation</h2>
        <p [style.color]="colorTitle">
          {{ (presentation$ | async)?.description }}
        </p>
      </div>
    </div>
    <div class="ten wide column" [class.no-export]="(skills$ | async)?.skillsArray === null || (skills$ | async)?.skillsArray.length === 0">
      <div id="cv-skills" [style.background]="colorDiv" class="rubrique">
        <div [routerLink]="['/editor/2']" routerLinkActive="router-link-active" class="edit-icon  no-export"><i class="pencil alternate icon"></i></div>
        <h2 [style.color]="colorTitle">Compétences</h2>
        <p [style.color]="colorTitle">
          {{ (skills$ | async)?.introduction }}
        </p>
        <div *ngFor="let s of (skills$ | async)?.skillsArray">
          <div [style.color]="colorTitle" class="skill">
            <span class="skill-label">{{ s.label }}</span>
            <div class="progress">
                <div class="progress-empty"></div>
                <div class="progress-fill" [style.width]="(s.value * 20).toString() + '%'"></div>
            </div>
        </div>
        </div>
      </div>
    </div>
    <div class="eight wide column" [class.no-export]="(experiences$ | async)?.experiencesArray === null || (experiences$ | async)?.experiencesArray.length === 0">
      <div id="cv-experiences" [style.color]="colorTitle" [style.background]="colorDiv" class="rubrique">
        <div [routerLink]="['/editor/3']" routerLinkActive="router-link-active" class="edit-icon  no-export"><i class="pencil alternate icon"></i></div>
        <h2 [style.color]="colorTitle">Expériences</h2>
        <p>
          {{ (experiences$ | async)?.introduction }}
        </p>
        <div [style.color]="colorTitle" class="article-container">
          <div *ngFor="let e of (experiences$ | async)?.experiencesArray">
            <div class="grey-bar"></div>
            <div class="article">
              <div>
                <div class="grey-circle"></div>
              </div>
              <div>
                <span *ngIf="e.period.startDate !== undefined && e.period.endDate !== undefined" class="article-date"
                >{{ e.period.startDate | date: 'MMM - yyyy'  }} -
                {{ e.period.endDate | date: 'MMM - yyyy'  }}</span
                ><br />
                <span class="article-title">{{ e.label }}</span
                ><br />
                <span class="article-subtitle">{{ e.company }}</span
                ><br />
                <span class="article-text">
                  {{ e.description }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="eight wide column" [class.no-export]="((trainings$ | async)?.trainingsArray === null || (trainings$ | async)?.trainingsArray.length === 0) && ((certifications$ | async)?.certificationsArray === null || (certifications$ | async)?.certificationsArray.length === 0)">
      <div id="cv-training" [style.background]="colorDiv" class="rubrique">
        <div [routerLink]="['/editor/4']" routerLinkActive="router-link-active" class="edit-icon  no-export"><i class="pencil alternate icon"></i></div>
        <h2 [class.no-export]="(trainings$ | async)?.trainingsArray === null || (trainings$ | async)?.trainingsArray.length === 0"[style.color]="colorTitle">Formations</h2>
        <p *ngIf="(trainings$ | async)?.introduction">{{ (trainings$ | async)?.introduction }}</p>
        <div class="article-container">
          <div *ngFor="let t of (trainings$ | async)?.trainingsArray">
            <div class="grey-bar"></div>
            <div class="article">
              <div>
                <div class="grey-circle"></div>
              </div>
              <div>
                <span *ngIf="t.period.startDate !== undefined && t.period.endDate !== undefined" class="article-date"
                >{{ t.period.startDate | date: 'MMM - yyyy' }} -
                {{ t.period.endDate | date: 'MMM - yyyy'  }}</span
                ><br />
                <span class="article-title">{{ t.label }}</span
                ><br />
                <span class="article-subtitle">{{ t.school }}</span>
                <span class="article-text">
                  {{ t.description }}
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <h2 [class.no-export]="(certifications$ | async)?.certificationsArray === null || (certifications$ | async)?.certificationsArray.length === 0" [style.color]="colorTitle">Certifications</h2>
        <p *ngIf="(certifications$ | async)?.introduction">{{ (certifications$ | async)?.introduction }}</p>
        <div class="article-container">
          <div *ngFor="let c of (certifications$ | async)?.certificationsArray">
            <div class="grey-bar"></div>
            <div class="article">
              <div>
                <div class="grey-circle"></div>
              </div>
              <div>
                <span *ngIf="c.period.startDate !== undefined && c.period.endDate !== undefined" class="article-date"
                >{{ c.period.startDate.getFullYear() }} -
                {{ c.period.endDate.getFullYear() }}</span
                ><br />
                <span class="article-title">{{ c.label }}</span
                ><br />
                <span class="article-subtitle">{{ c.company }}</span>
                <span class="article-text">{{ c.description }}</span>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [style.color]="colorTitle" class="sixteen wide column" [class.no-export]="(creations$ | async)?.imageList === null || (creations$ | async)?.imageList.length === 0">
      <div id="cv-creation" [style.background]="colorDiv" class="rubrique">
        <div [routerLink]="['/editor/6']" routerLinkActive="router-link-active" class="edit-icon  no-export"><i class="pencil alternate icon"></i></div>
        <h2 [style.color]="colorTitle">Réalisations</h2>
        <p>{{ (creations$ | async)?.introduction }}</p>
        <div
          *ngFor="let image of (creations$ | async)?.imageList; let i = index"
          class="creation-list myCreations"
        >
        <div class="center" *ngIf="image.type.split('/')[0] === 'audio'">
          <audio controls >
            <source [src]="image.url" type="audio/mpeg">
          </audio>
          <p class="center">{{ image.description }}</p>
        </div >
          
          <div *ngIf="image.type.split('/')[0] === 'video'">
            <video width="320" height="240" controls class="height300 center">
              <source [src]="image.url" type="video/mp4" />
            </video>
            <p class="center">{{ image.description }}</p>
          </div>
          <div *ngIf="image.type.split('/')[0] === 'image'">
            <div>
              <img
                class="ui medium rounded image creation height300 center"
                [src]="image.url"
                alt=""
              />
            </div>
            <p class="center">{{ image.description }}</p>
          </div>
        </div>
        <div *ngIf="(creations$ | async) !== undefined && (creations$ | async)?.imageList.length > 1" class="center">
          <button class="ui button" onclick="changeCreation(-1)">&#10094;</button>
          <button class="ui button" onclick="changeCreation(1)">&#10095;</button>
        </div>
        
      </div>
    </div>
    <div [style.color]="colorTitle" class="sixteen wide column" [class.no-export]="(references$ | async)?.comments === null || (references$ | async)?.comments.length === 0">
      <div id="cv-reference" [style.background]="colorDiv" class="rubrique">
        <div [routerLink]="['/editor/7']" routerLinkActive="router-link-active" class="edit-icon  no-export"><i class="pencil alternate icon"></i></div>
        <h2 [style.color]="colorTitle">Références</h2>
        <div *ngFor="let c of (references$ | async)?.comments">
          <!-- <h3>{{c.author}}</h3>
                          <h4>{{c.company}}</h4>
                          <p>{{c.value}}</p> -->
          <div [style.color]="colorTitle" class="mySlides article" *ngFor="let c of (references$ | async)?.comments">
            <span class="article-title">{{ c.author }}</span>
            <br />
            <span class="article-subtitle">{{ c.company }}</span>
            <br />
            <span class="article-text">{{ c.value }}</span>
          </div>
        </div>
        <div *ngIf="(references$ | async) !== undefined && (references$ | async).comments.length > 1" class="center">
          <button class="ui button" onclick="plusDivs(-1)">&#10094;</button>
          <button class="ui button" onclick="plusDivs(1)">&#10095;</button>
        </div>
      </div>
    </div>
  </div>
</div>
