<header>
    <h1>A propos de ce site</h1>
    <nav>
        <div class="nav-mobile">
            <span class="nav-item"><i class="fas fa-bars"></i></span>
        </div>
        <div class="nav-desktop">
            <span class="nav-item" ><a class="home-nav" [routerLink]="['/home']"> Accueil </a></span> 
            <span class="nav-item"><a class="home-nav" href="../../assets/documentation.pdf" target="blank">Documentation</a></span>
        </div>
    </nav>
</header>

<main>
    <div class="main-container">
        <h2>Histoire</h2>
        
        <p>Cet outil a été imaginé par un groupe de 6 étudiants en Licence professionnelle Développeur d'Applications Web et Innovation numérique (DAWIN) de l'IUT de Bordeaux.</p>
        <p>
            L'elaboration de ce produit est partie d'une incompréhension du sujet de base qui était la simple création d'un squelette html ainsi qu'un style définit, 
            accompagnée d'une documentation utilisateur pour que n'importe quelle personne puisse créer son site CV le plus simplement possible.
        </p>
        <p>Ce projet a été réalisé en 5 jours avec des méthodes agiles.</p>
        <h2>Les membres du groupe</h2>
        <ul>
            <li>Adrien DOYHAMBOURE</li>
            <li>Simon LASBRUGNAS</li>
            <li>David JACQUELIN</li>
            <li>Laurie DUMERY</li>
            <li>Guilhem VASSELIN</li>
            <li>Flavien HENRY--SZATKOWSKI</li>
        </ul>
    </div>
</main>

<div class="bg-container-mobile">
    <div class="bg-top">
        <img src="../../assets/img/bg_top_mobile.svg" alt="">
    </div>
    <div class="bg-bottom">
        <img src="../../assets/img/bg_bottom_mobile.svg" alt="">
    </div>
</div>
<div class="bg-container-desktop">
    <div class="bg-left">
        <img src="../../assets/img/bg_left.svg" alt="">
    </div>
    <div class="bg-right">
        <img src="../../assets/img/bg_right.svg" alt="">
    </div>
</div>
