.experiences{
    margin: 0 auto;
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 70%;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 16px -4px rgba(125,125,125,1);
    -moz-box-shadow: 0px 0px 16px -4px rgba(125,125,125,1);
    box-shadow: 0px 0px 16px -4px rgba(125,125,125,1);}

.title{
    margin-bottom: 30px;
}

.modal{
    margin-left: auto;
    width: 70%;
}

.field .text{
    height: 15%;
    width: 50%;
}

.experience_description{
    margin: 50px;
}
