<form class="ui form experiences">
    <div class="title"><h1>EXPERIENCES</h1></div>
    <div class="field">
        <label>INTRODUCTION A LA PARTIE EXPERIENCES PROFESSIONNELLES</label>
        <textarea [(ngModel)]="experiences.introduction" name="description"
            placeholder="Décrivez vos expériences et comment vous les avez obtenues (court paragraphe)" class="text"></textarea>
    </div>
    <div class="side">
        <div *ngFor="let e of experiences.experiencesArray; let i = index">
            <div class="ui card">
                <div class="content">
                    <div class="input_field">
                        <div class="field">
                            <label>POSTE / FONCTION</label>
                            <input [(ngModel)]="e.label" type="text" [ngModelOptions]="{standalone: true}"
                                placeholder="Titre de l'expérience">
                        </div>
                        <div class="field">
                            <label>DATE DE DEBUT</label>
                            <div class="ui left icon input">
                                <i class="calendar icon"></i>
                                <input suiDatepicker [ngModelOptions]="{standalone: true}" [(ngModel)]=" e.period.startDate"
                                    [pickerMode]="mode" [pickerFirstDayOfWeek]="firstDayOfWeek"
                                    [pickerUseNativeOnMobile]="false">
                            </div>
                        </div>
                        <div class="field">
                            <label>NOM DE L'ENTREPRISE</label>
                            <input [(ngModel)]="e.company" type="text" [ngModelOptions]="{standalone: true}"
                                placeholder="Nom de l'entreprise">
                        </div>
                        <div class="field">
                            <label>DATE DE FIN</label>
                            <div class="ui left icon input">
                                <i class="calendar icon"></i>
                                <input suiDatepicker [ngModelOptions]="{standalone: true}" [(ngModel)]=" e.period.endDate"
                                    [pickerMode]="mode" [pickerFirstDayOfWeek]="firstDayOfWeek"
                                    [pickerUseNativeOnMobile]="false">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>DESCRIPTION DE L'EXPERIENCE</label>
                        <textarea [(ngModel)]="e.description" name="description_exp" [ngModelOptions]="{standalone: true}"
                            placeholder="Description de l'expérience" class="text"></textarea>
                    </div>
                </div>
                <button *ngIf="experiences.experiencesArray.length > 1" (click)="removeExperience(i)" class="ui icon button remove">
                    <i class="trash icon"></i>
                </button>
            </div>
        </div>
    </div>
    <button (click)="addExperience()" class="ui icon button add" data-tooltip="Ajouter une expérience">
        <i class="plus icon"></i>
    </button>
</form>