<form class="ui form">
    <div class="title"><h1>CONTACTS</h1></div>
    <div class="field">
        <div class="ui left icon input">
            <input [(ngModel)]="contacts.phone" type="text" [ngModelOptions]="{standalone: true}" placeholder="Téléphone">
            <i class="phone icon"></i>
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <input [(ngModel)]="contacts.mail" type="email" [ngModelOptions]="{standalone: true}" placeholder="E-Mail">
            <i class="envelope icon"></i>
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <input [(ngModel)]="contacts.linkedin" [ngModelOptions]="{standalone: true}" type="text" placeholder="Linkedin URL">
            <i class="linkedin icon"></i>
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <input [(ngModel)]="contacts.facebook" [ngModelOptions]="{standalone: true}" type="text" placeholder="Facebook URL">
            <i class="facebook icon"></i>
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <input [(ngModel)]="contacts.twitter" [ngModelOptions]="{standalone: true}" type="text" placeholder="Twitter URL">
            <i class="twitter icon"></i>
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <input [(ngModel)]="contacts.youtube" [ngModelOptions]="{standalone: true}" type="text" placeholder="Youtube URL">
            <i class="youtube icon"></i>
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <input [(ngModel)]="contacts.instagram" [ngModelOptions]="{standalone: true}" type="text" placeholder="Instagram URL">
            <i class="instagram icon"></i>
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <input [(ngModel)]="contacts.website" [ngModelOptions]="{standalone: true}" type="text" placeholder="Site Personnel URL">
            <i class="at icon"></i>
        </div>
    </div>
</form>