<div class="edit-container">
  <div class="edit-content">
    <div class="edit-item">
      <app-profile [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 0"></app-profile>
      <app-presentation [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 1" ></app-presentation>
      <app-skills [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 2"></app-skills>
      <app-experiences [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 3"></app-experiences>
      <app-training [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 4"></app-training>
      <app-certification [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 5"></app-certification>
      <app-creation [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 6"></app-creation>
      <app-reference [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 7"></app-reference>
      <app-contact [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 8"></app-contact>
    </div>
  

  <div class="btn-group">
    <span (click)="previousComponent()" *ngIf="appSelector !== 0" class="btn-previous" onclick="setActivePrev(document.getElementsByClassName('active'))">
      <i class="angle left icon"></i>
    </span>

    <span (click)="nextComponent()" class="btn-next" onclick="setActiveNext(document.getElementsByClassName('active'))">
      <i class="angle right icon"></i>
    </span>
  </div>
  
</div>

  <div class="ui steps">
    <div (click)="setAppSelector(0)" class="link step-item active" onclick="setActiveStep('step-1')" id="step-1">
    </div>

    <div (click)="setAppSelector(1)" class="link step-item" onclick="setActiveStep('step-2')" id="step-2">
    </div>

    <div (click)="setAppSelector(2)" class="link step-item" onclick="setActiveStep('step-3')" id="step-3">
    </div>

    <div (click)="setAppSelector(3)" class="link step-item" onclick="setActiveStep('step-4')" id="step-4">
    </div>

    <div (click)="setAppSelector(4)" class="link step-item" onclick="setActiveStep('step-5')" id="step-5">
    </div>

    <div (click)="setAppSelector(5)" class="link step-item" onclick="setActiveStep('step-6')" id="step-6">
    </div>

    <div (click)="setAppSelector(6)" class="link step-item" onclick="setActiveStep('step-7')" id="step-7">
    </div>

    <div (click)="setAppSelector(7)" class="link step-item" onclick="setActiveStep('step-8')" id="step-8">
    </div>

    <div (click)="setAppSelector(8)" class="link step-item" onclick="setActiveStep('step-9')" id="step-9">
    </div>

  </div>
</div>

