<app-profile [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 0"></app-profile>
<app-presentation [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 1" ></app-presentation>
<app-skills [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 2"></app-skills>
<app-experiences [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 3"></app-experiences>

<button (click)="previousComponent()" *ngIf="appSelector !== 0" class="ui right labeled icon button">
    <i class="left arrow icon"></i>
    Précédent
  </button>

<button (click)="nextComponent()" class="ui labeled icon button">
    <i class="right arrow icon"></i>
    Suivant
  </button>