.title{
    margin-bottom: 30px;
}

.field .text{
    height: 15%;
}

.masterGrid{
    padding-bottom: 20px;
}

.grid{
    width: 400%;
}

.minus{
    height: 35px !important;
    margin-top: 38px;
}


.remove:hover{
    background-color: red;
    color: white;
    transition: 0.7s;
}

.add, .add:focus{
    border: 2px solid rgba(191,191,191,.87);
    background-color: white;
    color: rgba(191,191,191,.87);
}

.add:hover{
    background-color: #064acb;
    border-color: #064acb;
    color: white;
    transition: 0.7s;
}