<div class="body">
    <div class="body-content" *ngIf="appSelector != undefined">
        <app-profile class="component" [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 0"></app-profile>
        <app-presentation class="component" [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 1">
        </app-presentation>
        <app-skills class="component" [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 2"></app-skills>
        <app-experiences class="component" [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 3">
        </app-experiences>
        <app-training class="component" [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 4">
        </app-training>
        <app-certification class="component" [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 5">
        </app-certification>
        <app-creation class="component" [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 6">
        </app-creation>
        <app-reference class="component" [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 7">
        </app-reference>
        <app-contact class="component" [clickEvent]="clickEvent.asObservable()" *ngIf="appSelector === 8"></app-contact>
    </div>
    <div class="buttons">
        <button *ngIf="appSelector === 4" (click)="updateDatas(); updateAppSelector(5);" [routerLink]="['/editor/5']"
            routerLinkActive="router-link-active" class="ui black basic button">Modifier les Certifications</button>
        <button *ngIf="appSelector === 5" (click)="updateDatas(); updateAppSelector(4);" [routerLink]="['/editor/4']"
            routerLinkActive="router-link-active" class="ui black basic button">Modifier les Formations</button>
        <button (click)="updateDatas()" [routerLink]="['/generated']" routerLinkActive="router-link-active"
            class="ui green basic button">Regénérer le CV</button>
    </div>
</div>