<form class="ui form">
    <div class="title"><h1>CREATION</h1></div>
    <div class="field">
        <label>INTRODUCTION A LA PARTIE CREATION  &nbsp;(Facultatif)</label>
        <textarea [(ngModel)]="creations.introduction" name="description"
            placeholder="Décrivez vos globalement vos créations"></textarea>
    </div>
    <div *ngFor="let image of creations.imageList; let i = index" class="creation-list">
        <div class="ui card">
            <div class="field">
                <div class="media">
                    <audio *ngIf="image.type.split('/')[0] === 'audio'" controls>
                        <source [src]="image.url" type="audio/mpeg">
                    </audio>
                    <video *ngIf="image.type.split('/')[0] === 'video'" width="320" height="240" controls>
                        <source [src]="image.url" type="video/mp4">
                    </video>
                    <img *ngIf="image.type.split('/')[0] === 'image'" class="creation" [src]="image.url" alt="">
                </div>
                <div class="remove">
                    <input [(ngModel)]="image.description" type="text" [ngModelOptions]="{standalone: true}" placeholder="Légende de la création" class="text">
                </div>
                <div class=" minus_button">
                    <button class="ui icon button remove" (click)="removeImage(image.name)"><i class="trash icon"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="creations.imageList.length < 5">
        <label for="file" class="ui icon button add" data-tooltip="Ajouter une création">
            <i class="plus icon"></i>
        </label>
        <input id="file" style="display:none" (change)="uploadImages($event)" type="file" name="images" accept="video/*|image/*|audio/*" multiple/>
    </div>
</form>
