<form class="ui form">
    <div class="field">
        <label>Introduction à la partie créations</label>
        <textarea [(ngModel)]="creations.introduction" name="description"
            placeholder="Décrivez vos globalement vos créations"></textarea>
    </div>
    <div class="field">
        <div *ngFor="let image of creations.imageList; let i = index" class="creation-list">
            <label>Intitulé de la création</label>
            <input [(ngModel)]="image.description" type="text" [ngModelOptions]="{standalone: true}" placeholder="Description">
            <video *ngIf="image.type.split('/')[0] === 'video'" width="320" height="240" controls>
                <source [src]="image.url" type="video/mp4">
            </video>
            <img *ngIf="image.type.split('/')[0] === 'image'" class="creation" [src]="image.url" alt="">
            <button class="ui icon button" (click)="removeImage(image.name)"><i class="minus icon"></i></button>
        </div>
        <div>
            <label for="file" class="ui icon button">
                <i class="plus icon"></i>
            </label>
            <input id="file" style="display:none" *ngIf="creations.imageList.length < 5" (change)="uploadImages($event)" type="file" name="images" accept="video/*|image/*" multiple/>
        </div>
    </div>
</form>
