.title{
    margin-bottom: 30px;
}

.card{
    width: 100%;
    padding: 20px;
}

.ui.card:last-child {
    margin-bottom: 20px;
}

.media img{
    width: 300px;
    height: auto;
    border-radius: .28571429rem;
}

.remove{
    width: 100%;
}

.minus_button{
    position: absolute;
    top: 10px;
    right: 5px;
}

.remove:hover{
    background-color: red;
    color: white;
    transition: 0.7s;
}

.add, .add:focus{
    border: 2px solid rgba(191,191,191,.87);
    background-color: white;
    color: rgba(191,191,191,.87);
}

.add:hover{
    background-color: #064acb;
    border-color: #064acb;
    color: white;
    transition: 0.7s;
}