<form class="ui form">
    <div class="field">
      <label>Photo de profil</label>
      <img [src]="profile.imageUrl" alt="">
      <input (change)="uploadImage($event)" type="file" accept="image/png, image/jpeg">
    </div>
    <div class="field">
      <label>Prénom</label>
      <input [(ngModel)]="profile.firstName" type="text" name="first-name" placeholder="Prénom">
    </div>
    <div class="field">
      <label>Nom</label>
      <input [(ngModel)]="profile.lastName" type="text" name="last-name" placeholder="Nom">
    </div>
  </form>