.title{
    margin-bottom: 30px;
}

.field input{
    height: 15%;

}

.field{

    .container{
        position: relative;
        width: 200px;
        height: 200px;
        cursor: pointer;
        margin: auto;

        .overlay {
            position: absolute;
            top: 0;
            height: 200px;
            width: 200px;
            border-radius: 100px;
            opacity: 0;
            transition: .5s ease;
            background-color: rgb(0, 0, 0);
            z-index: 5;
            font-size: 8em;
            display: flex;
            justify-content: center;
            justify-items: center;
            align-items: center;
            text-align: center;
            color: white;
            cursor: pointer;
        } 

        .overlay:hover{
            opacity: 0.5;
        }

       .img{
           position: absolute;
           top: 0;
            width: 200px;
            height: 200px;
            border-radius: 100px;
            object-fit: cover;
        } 
    }
}

