<form class="ui form">
    <div class="title"><h1>PROFIL</h1></div>
    <div class="field">
      <label>PHOTO DE PROFIL</label>
      <img class="img" [src]="profile.imageUrl" alt=""><br/>
      <input (change)="uploadImage($event)" type="file" accept="image/png, image/jpeg">  
    </div>
    <div class="field">
      <label>PRENOM</label>
      <input [(ngModel)]="profile.firstName" type="text" name="first-name" placeholder="Prénom">
    </div>
    <div class="field">
      <label>NOM</label>
      <input [(ngModel)]="profile.lastName" type="text" name="last-name" placeholder="Nom">
    </div>
</form>