<form class="ui form">
    <div class="title"><h1>FORMATIONS</h1></div>
    <div class="field">
        <label>INTRODUCTION A LA PARTIE FORMATION</label>
        <textarea [(ngModel)]="trainings.introduction" name="description"
            placeholder="Décrivez vos formations et comment vous les avez obtenues (court paragraphe)" class="text"></textarea>
    </div>
    <div class="side">
        <div *ngFor="let t of trainings.trainingsArray">
            <div class="ui card">
                <div class="content">
                    <div class="input_field">
                        <div class="field">
                            <label>TITRE DE LA FORMATION</label>
                            <input [(ngModel)]="t.label" type="text" [ngModelOptions]="{standalone: true}"
                                placeholder="Titre de la formation">
                        </div>
                        <div class="field">
                            <label>DATE DE DEBUT</label>
                            <div class="ui left icon input">
                                <i class="calendar icon"></i>
                                <input suiDatepicker [ngModelOptions]="{standalone: true}" [(ngModel)]=" t.period.startDate"
                                    [pickerMode]="mode" [pickerFirstDayOfWeek]="firstDayOfWeek"
                                    [pickerUseNativeOnMobile]="false">
                            </div>
                        </div>
                        <div class="field">
                            <label>NOM DE L'ECOLE</label>
                            <input [(ngModel)]="t.school" type="text" [ngModelOptions]="{standalone: true}"
                                placeholder="Nom de l'école">
                        </div>
                        <div class="field">
                            <label>DATE DE FIN</label>
                            <div class="ui left icon input">
                                <i class="calendar icon"></i>
                                <input suiDatepicker [ngModelOptions]="{standalone: true}" [(ngModel)]=" t.period.endDate"
                                    [pickerMode]="mode" [pickerFirstDayOfWeek]="firstDayOfWeek"
                                    [pickerUseNativeOnMobile]="false">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>DESCRIPTION DE LA FORMATION</label>
                        <textarea [(ngModel)]="t.description" name="description_exp" [ngModelOptions]="{standalone: true}"
                            placeholder="Description de la formation" class="text"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button *ngIf="trainings.trainingsArray.length > 1" (click)="removeTraining()" class="ui icon button">
        <i class="minus icon"></i>
    </button>
    <button (click)="addTraining()" class="ui icon button">
        <i class="plus icon"></i>
    </button>
</form>