@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Amatic+SC|Courier+Prime|Gelasio|Pacifico|Roboto:300,400,500,500i,700|Space+Mono&display=swap');


// body, h1, h2 {
//     font-family: "Roboto", sans-serif !important;
// }

// header h1{
//     font-family: "Abril Fatface",cursive;
// }
    html{
        scroll-behavior: smooth;
    }
    a {
        color: inherit;
    }
    a:hover {
        color: inherit;
    }